.screen__footer {
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform, opacity;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.25, 0.85, 0.5, 0.8);
}

.js-content-is-loaded .screen__footer {
  opacity: 1;
  transform: translateY(0);
}
