.page-header {
  opacity: 0;
  transition: opacity cubic-bezier(0.25, 0.85, 0.5, 0.8) 1.5s;
}

.dom-content-loaded .page-header {
  opacity: 1;
}

.page-header__logo {
  transform: translateX(-30px);
  transition: transform cubic-bezier(0.25, 0.85, 0.5, 0.8) 1.5s;
}

.dom-content-loaded .page-header__logo {
  transform: translateX(0);
}


.page-header__menu {
  a {
    transition: color 0.3s;
  }

  a::after {
    right: 0;
    left: auto;
    display: block;
    width: 0;
    transition: width 0.3s;
  }

  a.active::after,
  a:hover::after,
  a:focus::after {
    right: auto;
    left: 0;
    width: 100%;
  }
}
