.result--negative .result {

  .screen--result.screen--hidden &__button,
  .screen--result &__button {
    opacity: 0;
    transform: scale(0);
  }

  .dom-content-loaded &__button {
    opacity: 1;
    transform: scale(1);

    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
  }

  .screen--result.screen--hidden &__button span,
  .screen--result &__button span {
    opacity: 0;
    transform: translateX(100px) rotate(180deg);
  }

  .dom-content-loaded &__button span {
    opacity: 1;
    transform: translateX(0) rotate(0);

    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 1000ms;
    transition-delay: 250ms;
  }
}
