.social-block__toggler {
  transition: color 0.3s;

  &::before {
    transition-property: width, height;
    transition-duration: 0.3s;
  }
}

.social-block__list li {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;

  @for $i from 1 through 5 {
    &:nth-child(#{$i + 1}) {
      transition-delay: (0.15s * $i);
    }
  }
}

.social-block:hover .social-block__list li {
  opacity: 1;
}

.social-block__link {
  transition-property: color, border-color;
  transition-duration: 0.3s;
}
